Imports

In [32]:
import pandas as pd
from nba_api.stats.endpoints import playergamelogs, teamgamelogs, teamgamelog

Obtenemos datos de los jugadores por partidos en las temporadas 2021-22 y 2022-23

In [2]:
season1 = playergamelogs.PlayerGameLogs(season_nullable='2021-22')
season2 = playergamelogs.PlayerGameLogs(season_nullable='2022-23')
seasons = pd.concat([season1.get_data_frames()[0],season2.get_data_frames()[0]], ignore_index=True)
seasons

,SEASON_YEAR,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK,AVAILABLE_FLAG
0,2021-22,1630195,Leandro Bolmaro,Leandro,1610612750,MIN,Minnesota Timberwolves,0022101224,2022-04-10T00:00:00,MIN vs. CHI,...,1,5520,2687,9927,2414,12159,2151,131,12388,1
1,2021-22,1630994,Gabriel Lundberg,Gabriel,1610612756,PHX,Phoenix Suns,0022101229,2022-04-10T00:00:00,PHX vs. SAC,...,23744,22177,11915,10974,10189,6887,2151,131,7935,1
2,2021-22,204456,T.J. McConnell,T.J.,1610612754,IND,Indiana Pacers,0022101216,2022-04-10T00:00:00,IND @ BKN,...,17438,17825,4544,7184,6246,4879,2151,131,5470,1
3,2021-22,1628379,Luke Kennard,Luke,1610612746,LAC,LA Clippers,0022101222,2022-04-10T00:00:00,LAC vs. OKC,...,1,5520,11915,3410,1125,7345,2151,131,5470,1
4,2021-22,203991,Clint Capela,Clint,1610612737,ATL,Atlanta Hawks,0022101221,2022-04-10T00:00:00,ATL @ HOU,...,1,11965,7362,4414,3985,2236,1,131,3264,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51928,2022-23,203935,Marcus Smart,Marcus,1610612738,BOS,Boston Celtics,0022200001,2022-10-18T00:00:00,BOS vs. PHI,...,1,17563,559,7583,11977,6874,2163,120,7676,1
51929,2022-23,1626172,Kevon Looney,Kevon,1610612744,GSW,Golden State Warriors,0022200002,2022-10-18T00:00:00,GSW vs. LAL,...,1,11553,11862,14745,144,12460,2163,120,13833,1
51930,2022-23,1629022,Lonnie Walker IV,Lonnie,1610612747,LAL,Los Angeles Lakers,0022200002,2022-10-18T00:00:00,LAL @ GSW,...,1,1,11862,17251,22762,12527,2163,120,13833,1
51931,2022-23,201566,Russell Westbrook,Russell,1610612747,LAL,Los Angeles Lakers,0022200002,2022-10-18T00:00:00,LAL @ GSW,...,17468,5181,4788,4335,18185,4559,1,120,3886,1
51932,2022-23,200782,P.J. Tucker,P.J.,1610612755,PHI,Philadelphia 76ers,0022200001,2022-10-18T00:00:00,PHI @ BOS,...,1,11553,11862,15841,18185,18160,2163,120,17408,1

In [12]:
seasons[seasons['GAME_ID'] == '0022200001']
seasons.columns

Index(['SEASON_YEAR', 'PLAYER_ID', 'PLAYER_NAME', 'NICKNAME', 'TEAM_ID',
       'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP',
       'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM',
       'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK',
       'BLKA', 'PF', 'PFD', 'PTS', 'PLUS_MINUS', 'NBA_FANTASY_PTS', 'DD2',
       'TD3', 'WNBA_FANTASY_PTS', 'GP_RANK', 'W_RANK', 'L_RANK', 'W_PCT_RANK',
       'MIN_RANK', 'FGM_RANK', 'FGA_RANK', 'FG_PCT_RANK', 'FG3M_RANK',
       'FG3A_RANK', 'FG3_PCT_RANK', 'FTM_RANK', 'FTA_RANK', 'FT_PCT_RANK',
       'OREB_RANK', 'DREB_RANK', 'REB_RANK', 'AST_RANK', 'TOV_RANK',
       'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK', 'PFD_RANK', 'PTS_RANK',
       'PLUS_MINUS_RANK', 'NBA_FANTASY_PTS_RANK', 'DD2_RANK', 'TD3_RANK',
       'WNBA_FANTASY_PTS_RANK', 'AVAILABLE_FLAG'],
      dtype='object')

Obtenemos los datos de los equipos

In [27]:
season1_teams = teamgamelogs.TeamGameLogs(season_nullable='2021-22')
season2_teams = teamgamelogs.TeamGameLogs(season_nullable='2022-23')
teams = pd.concat([season1_teams.get_data_frames()[0], season2_teams.get_data_frames()[0]],ignore_index=True)
teams.columns

Index(['SEASON_YEAR', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS', 'PLUS_MINUS',
       'GP_RANK', 'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'FGM_RANK',
       'FGA_RANK', 'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK',
       'FTM_RANK', 'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK',
       'REB_RANK', 'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK',
       'PF_RANK', 'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK', 'AVAILABLE_FLAG'],
      dtype='object')

Agregamos la columna PTSR (Puntos recibidos)

In [30]:
teams['PTSR'] = teams['PTS'] - teams['PLUS_MINUS'] 
teams

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,AVAILABLE_FLAG,PTSR
0,2021-22,1610612744,GSW,Golden State Warriors,0022101225,2022-04-10T00:00:00,GSW @ NOP,W,48.0,49,...,1899,1895,2043,1,234,1738,206,185,1,107.0
1,2021-22,1610612762,UTA,Utah Jazz,0022101230,2022-04-10T00:00:00,UTA @ POR,W,48.0,37,...,1899,840,532,2139,376,69,1145,53,1,80.0
2,2021-22,1610612751,BKN,Brooklyn Nets,0022101216,2022-04-10T00:00:00,BKN vs. IND,W,48.0,52,...,2349,1895,532,37,376,413,79,719,1,126.0
3,2021-22,1610612749,MIL,Milwaukee Bucks,0022101218,2022-04-10T00:00:00,MIL @ CLE,L,48.0,39,...,697,1188,2043,1256,138,108,836,2167,1,133.0
4,2021-22,1610612750,MIN,Minnesota Timberwolves,0022101224,2022-04-10T00:00:00,MIN vs. CHI,L,48.0,46,...,949,1188,91,419,1892,570,524,1398,1,124.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4915,2022-23,1610612742,DAL,Dallas Mavericks,0022200013,2022-10-19T00:00:00,DAL @ PHX,L,48.0,35,...,665,1444,1183,1279,1607,38,1924,1287,1,107.0
4916,2022-23,1610612744,GSW,Golden State Warriors,0022200002,2022-10-18T00:00:00,GSW vs. LAL,W,48.0,45,...,1985,196,1183,859,1831,1536,557,331,1,109.0
4917,2022-23,1610612747,LAL,Los Angeles Lakers,0022200002,2022-10-18T00:00:00,LAL @ GSW,L,48.0,40,...,2377,107,1183,859,678,460,1643,2081,1,123.0
4918,2022-23,1610612755,PHI,Philadelphia 76ers,0022200001,2022-10-18T00:00:00,PHI @ BOS,L,48.0,40,...,1120,800,1603,457,2141,321,966,1798,1,126.0
4919,2022-23,1610612738,BOS,Boston Celtics,0022200001,2022-10-18T00:00:00,BOS vs. PHI,W,48.0,46,...,449,800,1603,457,2002,225,395,587,1,117.0

Obtenemos un solo dataFrame con las columnas que necesitamos

In [49]:
teams_list = teams.TEAM_ID.unique().tolist()
teamLog = pd.DataFrame() #inicializamos para que no quede basura

for team in teams_list:
    teamLog1 = teamgamelog.TeamGameLog(season='2021-22',team_id=team)
    teamLog2 = teamgamelog.TeamGameLog(season='2022-23',team_id=team)
    teamLog3 = pd.concat([teamLog1.get_data_frames()[0], teamLog2.get_data_frames()[0]],ignore_index=True)
    teamLog  = pd.concat([teamLog, teamLog3])

In [55]:
teamLog.columns

Index(['Team_ID', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'W', 'L', 'W_PCT',
       'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS'],
      dtype='object')

In [56]:
teamLog = teamLog.rename(columns={'Game_ID': 'GAME_ID'})
teamLog = teamLog.rename(columns={'Team_ID': 'TEAM_ID'})

In [57]:
merged_df = pd.merge(teams,teamLog, on=['GAME_ID','TEAM_ID'], how='left')

teams['W_PCT'] = merged_df['W_PCT']

teams

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,AVAILABLE_FLAG,PTSR,W_PCT
0,2021-22,1610612744,GSW,Golden State Warriors,0022101225,2022-04-10T00:00:00,GSW @ NOP,W,48.0,49,...,1895,2043,1,234,1738,206,185,1,107.0,0.646
1,2021-22,1610612762,UTA,Utah Jazz,0022101230,2022-04-10T00:00:00,UTA @ POR,W,48.0,37,...,840,532,2139,376,69,1145,53,1,80.0,0.598
2,2021-22,1610612751,BKN,Brooklyn Nets,0022101216,2022-04-10T00:00:00,BKN vs. IND,W,48.0,52,...,1895,532,37,376,413,79,719,1,126.0,0.537
3,2021-22,1610612749,MIL,Milwaukee Bucks,0022101218,2022-04-10T00:00:00,MIL @ CLE,L,48.0,39,...,1188,2043,1256,138,108,836,2167,1,133.0,0.622
4,2021-22,1610612750,MIN,Minnesota Timberwolves,0022101224,2022-04-10T00:00:00,MIN vs. CHI,L,48.0,46,...,1188,91,419,1892,570,524,1398,1,124.0,0.561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4915,2022-23,1610612742,DAL,Dallas Mavericks,0022200013,2022-10-19T00:00:00,DAL @ PHX,L,48.0,35,...,1444,1183,1279,1607,38,1924,1287,1,107.0,0.000
4916,2022-23,1610612744,GSW,Golden State Warriors,0022200002,2022-10-18T00:00:00,GSW vs. LAL,W,48.0,45,...,196,1183,859,1831,1536,557,331,1,109.0,1.000
4917,2022-23,1610612747,LAL,Los Angeles Lakers,0022200002,2022-10-18T00:00:00,LAL @ GSW,L,48.0,40,...,107,1183,859,678,460,1643,2081,1,123.0,0.000
4918,2022-23,1610612755,PHI,Philadelphia 76ers,0022200001,2022-10-18T00:00:00,PHI @ BOS,L,48.0,40,...,800,1603,457,2141,321,966,1798,1,126.0,0.000
4919,2022-23,1610612738,BOS,Boston Celtics,0022200001,2022-10-18T00:00:00,BOS vs. PHI,W,48.0,46,...,800,1603,457,2002,225,395,587,1,117.0,1.000

In [31]:
merged_df = pd.merge(seasons,teams, on=['GAME_ID','TEAM_ID'], how='left')

seasons['PTSR','PTST'] = merged_df['PTSR','PTS']

seasons

,SEASON_YEAR,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK,AVAILABLE_FLAG,PTSR
0,2021-22,1630195,Leandro Bolmaro,Leandro,1610612750,MIN,Minnesota Timberwolves,0022101224,2022-04-10T00:00:00,MIN vs. CHI,...,5520,2687,9927,2414,12159,2151,131,12388,1,124.0
1,2021-22,1630994,Gabriel Lundberg,Gabriel,1610612756,PHX,Phoenix Suns,0022101229,2022-04-10T00:00:00,PHX vs. SAC,...,22177,11915,10974,10189,6887,2151,131,7935,1,116.0
2,2021-22,204456,T.J. McConnell,T.J.,1610612754,IND,Indiana Pacers,0022101216,2022-04-10T00:00:00,IND @ BKN,...,17825,4544,7184,6246,4879,2151,131,5470,1,134.0
3,2021-22,1628379,Luke Kennard,Luke,1610612746,LAC,LA Clippers,0022101222,2022-04-10T00:00:00,LAC vs. OKC,...,5520,11915,3410,1125,7345,2151,131,5470,1,88.0
4,2021-22,203991,Clint Capela,Clint,1610612737,ATL,Atlanta Hawks,0022101221,2022-04-10T00:00:00,ATL @ HOU,...,11965,7362,4414,3985,2236,1,131,3264,1,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51928,2022-23,203935,Marcus Smart,Marcus,1610612738,BOS,Boston Celtics,0022200001,2022-10-18T00:00:00,BOS vs. PHI,...,17563,559,7583,11977,6874,2163,120,7676,1,117.0
51929,2022-23,1626172,Kevon Looney,Kevon,1610612744,GSW,Golden State Warriors,0022200002,2022-10-18T00:00:00,GSW vs. LAL,...,11553,11862,14745,144,12460,2163,120,13833,1,109.0
51930,2022-23,1629022,Lonnie Walker IV,Lonnie,1610612747,LAL,Los Angeles Lakers,0022200002,2022-10-18T00:00:00,LAL @ GSW,...,1,11862,17251,22762,12527,2163,120,13833,1,123.0
51931,2022-23,201566,Russell Westbrook,Russell,1610612747,LAL,Los Angeles Lakers,0022200002,2022-10-18T00:00:00,LAL @ GSW,...,5181,4788,4335,18185,4559,1,120,3886,1,123.0
51932,2022-23,200782,P.J. Tucker,P.J.,1610612755,PHI,Philadelphia 76ers,0022200001,2022-10-18T00:00:00,PHI @ BOS,...,11553,11862,15841,18185,18160,2163,120,17408,1,126.0

In [29]:
import pandas as pd

# Crear DataFrames de ejemplo
data1 = {'columna1': [1, 2, 3, 4],
         'columna2': ['A', 'B', 'C', 'D']}
df1 = pd.DataFrame(data1)

data2 = {'columna1': [2, 4, 6, 8],
         'columna2': ['B', 'D', 'F', 'H'],
         'valor_df2': [20, 40, 60, 80]}
df2 = pd.DataFrame(data2)
# Combinar los DataFrames basándote en las columnas 'columna1' y 'columna2'
merged_df = pd.merge(df1, df2, on=['columna1', 'columna2'], how='left')

# Agregar los valores de 'valor_df2' a 'df1' si hay un match
df1['valor_df2'] = merged_df['valor_df2']

# Mostrar el DataFrame resultante
print(df1)

# Combinar los DataFrames basándote en las columnas 'columna1' y 'columna2'
merged_df = pd.merge(df1, df2[['columna1', 'columna2', 'valor_df2_1', 'valor_df2_2']], on=['columna1', 'columna2'], how='left')

# Agregar los valores de las columnas seleccionadas de 'df2' a 'df1' si hay un match
df1[['valor_df2_1', 'valor_df2_2']] = merged_df[['valor_df2_1', 'valor_df2_2']]

   columna1 columna2  valor_df2
0         1        A        NaN
1         2        B       20.0
2         3        C        NaN
3         4        D       40.0