# Explore here

In [29]:
import pandas as pd
import os
import time
from nba_api.stats.endpoints import playercareerstats, teamdetails, playerdashboardbylastngames, playerprofilev2, leaguegamefinder, playergamelog, playergamelogs, teamgamelogs,teamgamelog
from nba_api.stats.static import teams

In [55]:

# Anthony Davis
career = playercareerstats.PlayerCareerStats(player_id="203076")
df = career.get_data_frames()[0]
df

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,...,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,...,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,...,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,...,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,...,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,...,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,26.0,56,56,1850.0,530,...,0.794,174,498,672,218,88,135,112,132,1452
7,203076,2019-20,00,1610612747,LAL,27.0,62,62,2131.0,551,...,0.846,142,435,577,200,91,143,154,156,1618
8,203076,2020-21,00,1610612747,LAL,28.0,36,36,1162.0,301,...,0.738,62,224,286,110,45,59,74,60,786
9,203076,2021-22,00,1610612747,LAL,29.0,40,40,1404.0,370,...,0.713,106,288,394,122,49,90,82,97,927
10,203076,2022-23,00,1610612747,LAL,30.0,56,54,1905.0,542,...,0.784,195,507,702,148,59,114,122,146,1451
11,203076,2023-24,00,1610612747,LAL,31.0,62,62,2223.0,585,...,0.812,192,581,773,226,73,152,124,148,1535

In [11]:
teamDt = teamdetails.TeamDetails(team_id='1610612737')
#teamsDt = teams.get_teams()
teamsDt

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Georgia',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970},
 {'id': 1610612740,
  'full_name': 'New Orleans Pelicans',
  'abbreviation': 'NOP',
  'nickname': 'Pelicans',
  'city': 'New Orleans',
  'state': 'Louisiana',
  'year_founded': 2002},
 {'id': 1610612741,
  'full_name': 'Chicago Bulls',
  'abbreviation': 'CHI',
  'nickname': 'Bulls',
  'city': 'Chicago',
  'state': 'Illinois',
  'year_founded': 1966},
 {'id': 1610612742,
  'full_name': 'Dallas Mavericks',
  'abbreviation': 'DAL',
  'nickname': 'Mavericks',
  'city': 'Dallas',
  'state': 'Texas',
  'year_founded': 1980},
 {'id': 1610612743,
  'full_name': 'Denver Nuggets',
  'abbreviation': 'DEN',
  'nickname': 'Nuggets',
  'city': 'Denver',
  'state': 'Colorado',
  'year_founded': 1976},
 {'id': 1610612744,
  'full_name': 'Golden State Warriors',
  'abbreviation': 'GSW',
  'nickname': 'Warriors',
  'city': 'Golden State',
  'state': 'California',
  'year_founded': 1946},
 {'id': 1610612745,
  'full_name': 'Houston Rockets',
  'abbreviation': 'HOU',
  'nickname': 'Rockets',
  'city': 'Houston',
  'state': 'Texas',
  'year_founded': 1967},
 {'id': 1610612746,
  'full_name': 'Los Angeles Clippers',
  'abbreviation': 'LAC',
  'nickname': 'Clippers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1970},
 {'id': 1610612747,
  'full_name': 'Los Angeles Lakers',
  'abbreviation': 'LAL',
  'nickname': 'Lakers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612748,
  'full_name': 'Miami Heat',
  'abbreviation': 'MIA',
  'nickname': 'Heat',
  'city': 'Miami',
  'state': 'Florida',
  'year_founded': 1988},
 {'id': 1610612749,
  'full_name': 'Milwaukee Bucks',
  'abbreviation': 'MIL',
  'nickname': 'Bucks',
  'city': 'Milwaukee',
  'state': 'Wisconsin',
  'year_founded': 1968},
 {'id': 1610612750,
  'full_name': 'Minnesota Timberwolves',
  'abbreviation': 'MIN',
  'nickname': 'Timberwolves',
  'city': 'Minnesota',
  'state': 'Minnesota',
  'year_founded': 1989},
 {'id': 1610612751,
  'full_name': 'Brooklyn Nets',
  'abbreviation': 'BKN',
  'nickname': 'Nets',
  'city': 'Brooklyn',
  'state': 'New York',
  'year_founded': 1976},
 {'id': 1610612752,
  'full_name': 'New York Knicks',
  'abbreviation': 'NYK',
  'nickname': 'Knicks',
  'city': 'New York',
  'state': 'New York',
  'year_founded': 1946},
 {'id': 1610612753,
  'full_name': 'Orlando Magic',
  'abbreviation': 'ORL',
  'nickname': 'Magic',
  'city': 'Orlando',
  'state': 'Florida',
  'year_founded': 1989},
 {'id': 1610612754,
  'full_name': 'Indiana Pacers',
  'abbreviation': 'IND',
  'nickname': 'Pacers',
  'city': 'Indiana',
  'state': 'Indiana',
  'year_founded': 1976},
 {'id': 1610612755,
  'full_name': 'Philadelphia 76ers',
  'abbreviation': 'PHI',
  'nickname': '76ers',
  'city': 'Philadelphia',
  'state': 'Pennsylvania',
  'year_founded': 1949},
 {'id': 1610612756,
  'full_name': 'Phoenix Suns',
  'abbreviation': 'PHX',
  'nickname': 'Suns',
  'city': 'Phoenix',
  'state': 'Arizona',
  'year_founded': 1968},
 {'id': 1610612757,
  'full_name': 'Portland Trail Blazers',
  'abbreviation': 'POR',
  'nickname': 'Trail Blazers',
  'city': 'Portland',
  'state': 'Oregon',
  'year_founded': 1970},
 {'id': 1610612758,
  'full_name': 'Sacramento Kings',
  'abbreviation': 'SAC',
  'nickname': 'Kings',
  'city': 'Sacramento',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612759,
  'full_name': 'San Antonio Spurs',
  'abbreviation': 'SAS',
  'nickname': 'Spurs',
  'city': 'San Antonio',
  'state': 'Texas',
  'year_founded': 1976},
 {'id': 1610612760,
  'full_name': 'Oklahoma City Thunder',
  'abbreviation': 'OKC',
  'nickname': 'Thunder',
  'city': 'Oklahoma City',
  'state': 'Oklahoma',
  'year_founded': 1967},
 {'id': 1610612761,
  'full_name': 'Toronto Raptors',
  'abbreviation': 'TOR',
  'nickname': 'Raptors',
  'city': 'Toronto',
  'state': 'Ontario',
  'year_founded': 1995},
 {'id': 1610612762,
  'full_name': 'Utah Jazz',
  'abbreviation': 'UTA',
  'nickname': 'Jazz',
  'city': 'Utah',
  'state': 'Utah',
  'year_founded': 1974},
 {'id': 1610612763,
  'full_name': 'Memphis Grizzlies',
  'abbreviation': 'MEM',
  'nickname': 'Grizzlies',
  'city': 'Memphis',
  'state': 'Tennessee',
  'year_founded': 1995},
 {'id': 1610612764,
  'full_name': 'Washington Wizards',
  'abbreviation': 'WAS',
  'nickname': 'Wizards',
  'city': 'Washington',
  'state': 'District of Columbia',
  'year_founded': 1961},
 {'id': 1610612765,
  'full_name': 'Detroit Pistons',
  'abbreviation': 'DET',
  'nickname': 'Pistons',
  'city': 'Detroit',
  'state': 'Michigan',
  'year_founded': 1948},
 {'id': 1610612766,
  'full_name': 'Charlotte Hornets',
  'abbreviation': 'CHA',
  'nickname': 'Hornets',
  'city': 'Charlotte',
  'state': 'North Carolina',
  'year_founded': 1988}]

In [4]:
playerDash = playerdashboardbylastngames.PlayerDashboardByLastNGames(player_id="203076",last_n_games=164)
playerDF = playerDash.get_data_frames()[0]
playerDF

,GROUP_SET,GROUP_VALUE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,...,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK
0,Overall,2023-24,62,35,27,0.565,2222.481667,585,1055,0.555,...,1,1,1,1,1,1,1,1,1,1

In [5]:

# Query for games where the Celtics were playing
#gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=)
# The first DataFrame of those returned is what we want.
games = gamefinder.get_data_frames()[0]
games.head()

SyntaxError: expected argument value expression (3441754164.py, line 2)

In [72]:
season1 = playergamelogs.PlayerGameLogs(season_nullable='2021-22')
season2 = playergamelogs.PlayerGameLogs(season_nullable='2022-23')
seasons = pd.concat([season1.get_data_frames()[0],season2.get_data_frames()[0]], ignore_index=True)
seasons

,SEASON_YEAR,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK,AVAILABLE_FLAG
0,2021-22,1630195,Leandro Bolmaro,Leandro,1610612750,MIN,Minnesota Timberwolves,0022101224,2022-04-10T00:00:00,MIN vs. CHI,...,1,5520,2687,9927,2414,12159,2151,131,12388,1
1,2021-22,1630994,Gabriel Lundberg,Gabriel,1610612756,PHX,Phoenix Suns,0022101229,2022-04-10T00:00:00,PHX vs. SAC,...,23744,22177,11915,10974,10189,6887,2151,131,7935,1
2,2021-22,204456,T.J. McConnell,T.J.,1610612754,IND,Indiana Pacers,0022101216,2022-04-10T00:00:00,IND @ BKN,...,17438,17825,4544,7184,6246,4879,2151,131,5470,1
3,2021-22,1628379,Luke Kennard,Luke,1610612746,LAC,LA Clippers,0022101222,2022-04-10T00:00:00,LAC vs. OKC,...,1,5520,11915,3410,1125,7345,2151,131,5470,1
4,2021-22,203991,Clint Capela,Clint,1610612737,ATL,Atlanta Hawks,0022101221,2022-04-10T00:00:00,ATL @ HOU,...,1,11965,7362,4414,3985,2236,1,131,3264,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51928,2022-23,203935,Marcus Smart,Marcus,1610612738,BOS,Boston Celtics,0022200001,2022-10-18T00:00:00,BOS vs. PHI,...,1,17563,559,7583,11977,6874,2163,120,7676,1
51929,2022-23,1626172,Kevon Looney,Kevon,1610612744,GSW,Golden State Warriors,0022200002,2022-10-18T00:00:00,GSW vs. LAL,...,1,11553,11862,14745,144,12460,2163,120,13833,1
51930,2022-23,1629022,Lonnie Walker IV,Lonnie,1610612747,LAL,Los Angeles Lakers,0022200002,2022-10-18T00:00:00,LAL @ GSW,...,1,1,11862,17251,22762,12527,2163,120,13833,1
51931,2022-23,201566,Russell Westbrook,Russell,1610612747,LAL,Los Angeles Lakers,0022200002,2022-10-18T00:00:00,LAL @ GSW,...,17468,5181,4788,4335,18185,4559,1,120,3886,1
51932,2022-23,200782,P.J. Tucker,P.J.,1610612755,PHI,Philadelphia 76ers,0022200001,2022-10-18T00:00:00,PHI @ BOS,...,1,11553,11862,15841,18185,18160,2163,120,17408,1

In [69]:
df.tail(50)

Empty DataFrame
Columns: [SEASON_YEAR, PLAYER_ID, PLAYER_NAME, NICKNAME, TEAM_ID, TEAM_ABBREVIATION, TEAM_NAME, GAME_ID, GAME_DATE, MATCHUP, WL, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, NBA_FANTASY_PTS, DD2, TD3, WNBA_FANTASY_PTS, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK, NBA_FANTASY_PTS_RANK, DD2_RANK, TD3_RANK, WNBA_FANTASY_PTS_RANK, AVAILABLE_FLAG]
Index: []

[0 rows x 68 columns]

In [7]:
streaks = playergamelog.PlayerGameLog(player_id="203076")
df = streaks.get_data_frames()[0]
df.columns

Index(['SEASON_ID', 'Player_ID', 'Game_ID', 'GAME_DATE', 'MATCHUP', 'WL',
       'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE'],
      dtype='object')

In [9]:
df.head(10)

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22023,203076,0022300932,"MAR 10, 2024",LAL vs. MIN,W,39,9,17,0.529,...,15,25,5,7,3,3,2,27,15,1
1,22023,203076,0022300915,"MAR 08, 2024",LAL vs. MIL,W,41,10,21,0.476,...,12,13,5,0,3,0,3,22,-3,1
2,22023,203076,0022300901,"MAR 06, 2024",LAL vs. SAC,L,34,5,13,0.385,...,10,11,3,0,1,2,4,14,-6,1
3,22023,203076,0022300884,"MAR 04, 2024",LAL vs. OKC,W,30,7,12,0.583,...,8,12,4,1,3,2,1,24,10,1
4,22023,203076,0022300869,"MAR 02, 2024",LAL vs. DEN,L,39,7,13,0.538,...,9,11,2,0,3,0,3,17,-11,1
5,22023,203076,0022300856,"FEB 29, 2024",LAL vs. WAS,W,41,14,22,0.636,...,12,15,4,1,3,1,2,40,6,1
6,22023,203076,0022300848,"FEB 28, 2024",LAL @ LAC,W,36,8,15,0.533,...,9,12,2,2,3,2,2,20,-4,1
7,22023,203076,0022300818,"FEB 25, 2024",LAL @ PHX,L,42,11,17,0.647,...,12,14,0,3,2,3,3,22,-2,1
8,22023,203076,0022300813,"FEB 23, 2024",LAL vs. SAS,W,29,10,14,0.714,...,8,13,0,1,0,1,2,28,10,1
9,22023,203076,0022300802,"FEB 22, 2024",LAL @ GSW,L,33,11,19,0.579,...,12,15,1,0,3,3,3,27,-16,1

LAL vs. MIN	(VS = Local)
LAL @ PHX	(@ = Visitante)

Teams Stats

In [54]:
teamGmLogs = teamgamelogs.TeamGameLogs()
teamGmLogs = teamGmLogs.get_data_frames()[0]

teamGmLogs.columns

Index(['SEASON_YEAR', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS', 'PLUS_MINUS',
       'GP_RANK', 'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'FGM_RANK',
       'FGA_RANK', 'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK',
       'FTM_RANK', 'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK',
       'REB_RANK', 'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK',
       'PF_RANK', 'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK', 'AVAILABLE_FLAG'],
      dtype='object')

In [51]:
teamGmLogs.GAME_ID.duplicated().sum()

1230

In [28]:
teamGmLogs['W_PCT_RANK'].head(20)

0     1231
1     1231
2        1
3     1231
4     1231
5     1231
6        1
7        1
8     1231
9        1
10       1
11       1
12    1231
13    1231
14    1231
15    1231
16       1
17       1
18    1231
19       1
Name: W_PCT_RANK, dtype: int64

In [47]:
teamGmLog = teamgamelog.TeamGameLog()
teamGmLog = teamGmLog.get_data_frames()[0]
teamGmLog

Index(['Team_ID', 'Game_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'W', 'L', 'W_PCT',
       'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS'],
      dtype='object')

In [ ]:
data = teams.MATCHUP

def determinar_tipo(data):
    if '@' in data:
        return 'A'  # Si hay '@', entonces es local
    elif 'vs' in data:
        return 'H'  # Si hay 'vs', entonces es visitante
    else:
        return None  # Si no coincide ninguno de los patrones, devuelve None


teams['HOME_AWAY'] = teams['MATCHUP'].apply(determinar_tipo)

teams

In [73]:
import pandas as pd

# Crear DataFrames de ejemplo
data1 = {'columna1': [1, 2, 3, 4],
         'columna2': ['A', 'B', 'C', 'D']}
df1 = pd.DataFrame(data1)

data2 = {'columna1': [2, 4, 6, 8],
         'columna2': ['B', 'D', 'F', 'H'],
         'valor_df2': [20, 40, 60, 80]}
df2 = pd.DataFrame(data2)
# Combinar los DataFrames basándote en las columnas 'columna1' y 'columna2'
merged_df = pd.merge(df1, df2, on=['columna1', 'columna2'], how='left')

# Agregar los valores de 'valor_df2' a 'df1' si hay un match
df1['valor_df2'] = merged_df['valor_df2']

# Mostrar el DataFrame resultante
print(df1)

   columna1 columna2  valor_df2
0         1        A        NaN
1         2        B       20.0
2         3        C        NaN
3         4        D       40.0