# Explore here

In [64]:
import pandas as pd
import os
import time
from nba_api.stats.endpoints import playercareerstats, teamdetails, playerdashboardbylastngames, playerprofilev2, leaguegamefinder, playergamelog
from nba_api.stats.static import teams

In [6]:

# Anthony Davis
career = playercareerstats.PlayerCareerStats(player_id="203076")
df = career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,...,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,...,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,...,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,...,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,...,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,...,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,26.0,56,56,1850.0,530,...,0.794,174,498,672,218,88,135,112,132,1452
7,203076,2019-20,00,1610612747,LAL,27.0,62,62,2131.0,551,...,0.846,142,435,577,200,91,143,154,156,1618
8,203076,2020-21,00,1610612747,LAL,28.0,36,36,1162.0,301,...,0.738,62,224,286,110,45,59,74,60,786
9,203076,2021-22,00,1610612747,LAL,29.0,40,40,1404.0,370,...,0.713,106,288,394,122,49,90,82,97,927
10,203076,2022-23,00,1610612747,LAL,30.0,56,54,1905.0,542,...,0.784,195,507,702,148,59,114,122,146,1451
11,203076,2023-24,00,1610612747,LAL,31.0,62,62,2223.0,585,...,0.812,192,581,773,226,73,152,124,148,1535

In [ ]:
#teamDt = teamdetails.TeamDetails()
teamsDt = teams.get_teams()
teamsDt

In [22]:
playerDash = playerdashboardbylastngames.PlayerDashboardByLastNGames(player_id="203076",last_n_games=164)
playerDF = playerDash.get_data_frames()[0]
playerDF

,GROUP_SET,GROUP_VALUE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,...,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK
0,Overall,2023-24,62,35,27,0.565,2222.481667,585,1055,0.555,...,1,1,1,1,1,1,1,1,1,1

In [28]:

# Query for games where the Celtics were playing
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=)
# The first DataFrame of those returned is what we want.
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22023,1610612761,TOR,Toronto Raptors,0022300937,2024-03-11,TOR @ DEN,None,48,31,...,1.000,5,5,10,5,3,1,3,4,4.0
1,22023,1610612741,CHI,Chicago Bulls,0022300935,2024-03-11,CHI vs. DAL,None,156,57,...,0.733,8,19,27,10,5,2,8,6,-19.6
2,22023,1610612743,DEN,Denver Nuggets,0022300937,2024-03-11,DEN vs. TOR,None,48,27,...,0.800,3,5,8,8,3,1,4,2,-4.0
3,22023,1610612742,DAL,Dallas Mavericks,0022300935,2024-03-11,DAL @ CHI,None,168,83,...,1.000,8,28,36,23,7,2,5,11,19.4
4,22023,1610612756,PHX,Phoenix Suns,0022300934,2024-03-11,PHX @ CLE,None,228,106,...,0.600,11,25,36,21,6,4,14,17,5.8

In [65]:
streaks = playergamelog.PlayerGameLog(player_id="203076")
df = streaks.get_data_frames()[0]
df

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22023,203076,0022300932,"MAR 10, 2024",LAL vs. MIN,W,39,9,17,0.529,...,15,25,5,7,3,3,2,27,15,1
1,22023,203076,0022300915,"MAR 08, 2024",LAL vs. MIL,W,41,10,21,0.476,...,12,13,5,0,3,0,3,22,-3,1
2,22023,203076,0022300901,"MAR 06, 2024",LAL vs. SAC,L,34,5,13,0.385,...,10,11,3,0,1,2,4,14,-6,1
3,22023,203076,0022300884,"MAR 04, 2024",LAL vs. OKC,W,30,7,12,0.583,...,8,12,4,1,3,2,1,24,10,1
4,22023,203076,0022300869,"MAR 02, 2024",LAL vs. DEN,L,39,7,13,0.538,...,9,11,2,0,3,0,3,17,-11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,22023,203076,0022300127,"NOV 01, 2023",LAL vs. LAC,W,48,10,18,0.556,...,6,10,3,1,4,0,3,27,11,1
58,22023,203076,0022300111,"OCT 30, 2023",LAL vs. ORL,W,38,12,18,0.667,...,17,19,5,1,3,1,3,26,-2,1
59,22023,203076,0022300100,"OCT 29, 2023",LAL @ SAC,L,42,11,22,0.500,...,10,16,2,2,3,0,5,30,-10,1
60,22023,203076,0022300076,"OCT 26, 2023",LAL vs. PHX,W,39,10,17,0.588,...,9,12,2,3,3,2,2,30,7,1
61,22023,203076,0022300061,"OCT 24, 2023",LAL @ DEN,L,34,6,17,0.353,...,7,8,4,0,2,2,3,17,-17,1

In [51]:
from nba_api.stats.static import teams, players
from nba_api.stats.endpoints import cumestatsteamgames, cumestatsteam, gamerotation
import pandas as pd
import numpy as np
import json
import difflib
import time
import requests

In [44]:
# Retry Wrapper 
def retry(func, retries=3):
    def retry_wrapper(*args, **kwargs):
        attempts = 0
        while attempts < retries:
            try:
                return func(*args, **kwargs)
            except requests.exceptions.RequestException as e:
                print(e)
                time.sleep(30)
                attempts += 1

    return retry_wrapper

In [55]:
# Get Season Schedule Function 

def getSeasonScheduleFrame(seasons,seasonType): 

    # Get date from string
    def getGameDate(matchup):
        return matchup.partition(' at')[0][:10]

    # Get Home team from string
    def getHomeTeam(matchup):
        return matchup.partition(' at')[2]

    # Get Away team from string
    def getAwayTeam(matchup):
        return matchup.partition(' at')[0][10:]

    # Match nickname from schedule to team table to find ID
    def getTeamIDFromNickname(nickname):
        return teamLookup.loc[teamLookup['nickname'] == difflib.get_close_matches(nickname,teamLookup['nickname'],1)[0]].values[0][0] 
    
    @retry
    def getRegularSeasonSchedule(season,teamID,seasonType):
        season = str(season) + "-" + str(season+1)[-2:] # Convert year to season format ie. 2020 -> 2020-21
        teamGames = cumestatsteamgames.CumeStatsTeamGames(league_id = '00',season = season ,
                                                                      season_type_all_star=seasonType,
                                                                      team_id = teamID).get_normalized_json()

        teamGames = pd.DataFrame(json.loads(teamGames)['CumeStatsTeamGames'])
        teamGames['SEASON'] = season
        return teamGames    
    
    # Get team lookup table
    teamLookup = pd.DataFrame(teams.get_teams())
    
    # Get teams schedule for each team for each season
    scheduleFrame = pd.DataFrame()

    for season in seasons:
        for id in teamLookup['id']:
            time.sleep(1)
            scheduleFrame = pd.concat([scheduleFrame, getRegularSeasonSchedule(season,id,seasonType)])
            
    scheduleFrame['GAME_DATE'] = pd.to_datetime(scheduleFrame['MATCHUP'].map(getGameDate))
    scheduleFrame['HOME_TEAM_NICKNAME'] = scheduleFrame['MATCHUP'].map(getHomeTeam)
    scheduleFrame['HOME_TEAM_ID'] = scheduleFrame['HOME_TEAM_NICKNAME'].map(getTeamIDFromNickname)
    scheduleFrame['AWAY_TEAM_NICKNAME'] = scheduleFrame['MATCHUP'].map(getAwayTeam)
    scheduleFrame['AWAY_TEAM_ID'] = scheduleFrame['AWAY_TEAM_NICKNAME'].map(getTeamIDFromNickname)
    scheduleFrame = scheduleFrame.drop_duplicates() # There's a row for both teams, only need 1
    scheduleFrame = scheduleFrame.reset_index(drop=True)
            
    return scheduleFrame

In [56]:
seasons = [2021,2022,2023]
seasonType = 'Regular Season'

scheduleFrame = getSeasonScheduleFrame(seasons,seasonType)
scheduleFrame

,MATCHUP,GAME_ID,SEASON,GAME_DATE,HOME_TEAM_NICKNAME,HOME_TEAM_ID,AWAY_TEAM_NICKNAME,AWAY_TEAM_ID
0,04/10/2022 Hawks at Rockets,0022101221,2021-22,2022-04-10,Rockets,1610612745,Hawks,1610612737
1,04/08/2022 Hawks at Heat,0022101207,2021-22,2022-04-08,Heat,1610612748,Hawks,1610612737
2,04/06/2022 Wizards at Hawks,0022101192,2021-22,2022-04-06,Hawks,1610612737,Wizards,1610612764
3,04/05/2022 Hawks at Raptors,0022101182,2021-22,2022-04-05,Raptors,1610612761,Hawks,1610612737
4,04/02/2022 Nets at Hawks,0022101163,2021-22,2022-04-02,Hawks,1610612737,Nets,1610612751
...,...,...,...,...,...,...,...,...
3417,11/10/2023 Hornets at Wizards,0022300009,2023-24,2023-11-10,Wizards,1610612764,Hornets,1610612766
3418,11/08/2023 Wizards at Hornets,0022300157,2023-24,2023-11-08,Hornets,1610612766,Wizards,1610612764
3419,03/11/2024 Hornets at Pistons,0022300933,2023-24,2024-03-11,Pistons,1610612765,Hornets,1610612766
3420,01/24/2024 Hornets at Pistons,0022300619,2023-24,2024-01-24,Pistons,1610612765,Hornets,1610612766
3421,10/27/2023 Pistons at Hornets,0022300077,2023-24,2023-10-27,Hornets,1610612766,Pistons,1610612765